@import "tailwindcss";

:root {
  --background: #f9f8f4;
  --foreground: #222;
  --accent: #444;
  --border: #ddd;
  --hover: #e1dfdb;
  --error: #d46b6b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --color-hover: var(--hover);
  --color-error: var(--error);
  --font-heading: var(--font-inter-tight);
  --font-mono: var(--font-ibm-plex-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-plex-mono), "Courier Prime", monospace;
}

* {
  box-sizing: border-box;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}
